<link rel="preload" as="style" href="/index.css">
<link href="/index.css" rel="stylesheet">

{{ if .IsHome }}
	<link rel="preload" as="style" href="/hero.css">
	<link href="/hero.css" rel="stylesheet">
{{ end }}

<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:wght@100&display=swap" crossorigin>

<link rel="apple-touch-icon" sizes="180x180" href="/media/icon-180x180.png">
<link rel="icon" href="/media/logo.svg" type="image/svg+xml">
<link rel="manifest" href="/manifest.json">

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

<base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
