<link rel="preload" as="style" href="/index.css">
<link href="/index.css" rel="stylesheet">

{{ if .IsHome }}
	<link rel="preload" as="style" href="/hero.css">
	<link href="/hero.css" rel="stylesheet">
{{ end }}

<link rel="manifest" href="/manifest.json">
<link rel="icon" href="/media/logo.svg" type="image/svg+xml">
<link rel=”mask-icon” href=”/media/logo.svg” color="#fff">
<link rel="apple-touch-icon" sizes="180x180" href="/media/icon-180x180.png">

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
