<head>
	{{ partialCached "head-base" . .Section }}

	<title>{{ if not (in $.Site.Title .Title) }}{{.Title}} | {{ end }}{{ $.Site.Title }}</title>
	
	<meta name="description" content="{{ default .Params.description .Params.intro }}">

	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ if not (in $.Site.Title .Title) }}{{.Title}} | {{ end }}{{ $.Site.Title }}">
	<meta property="og:description" content="{{ default .Params.description .Params.intro }}">
	<meta property="og:url" content="{{ .Permalink | absLangURL }}">
	<meta property="og:image" content="{{ default "/media/og-image.jpg" .Params.thumbnail | absURL }}">
</head>