{{ if gt (len (where .Site.Pages "Section" "film")) 0 }}
<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">
		<h2 class="f2 b lh-title mb3">{{ i18n "latest"}} {{ i18n "film"}}</h2>
		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
			{{ range first 4 (after 1 (where .Site.Pages "Section" "film")) }}
				<div class="ph1-ns w-50-ns flex">
					{{ .Render "li" }}
				</div>
			{{ end }}
		</div>
		<div class="tc">
			<a href="{{ "film/" | relLangURL }}" class="btn raise">{{ i18n "seeMore"}}</a>
		</div>
	</div>
</div>
{{ end }}
