<a href="{{ .RelPermalink }}" class="media-grid-item no-hover{{ if eq .Section "film" }} film{{ end }}" data-tags="{{ range .Params.tags }}{{ lower . }},{{ end }}">
	<h2>{{ .Title }}</h2>

	{{ if eq .Section "film"}}
	<span class="icon">🎥</span>
	{{ end }}

	{{ if .Params.youtube_id }}
		{{ $thumbnail := printf "https://i.ytimg.com/vi/%s/hqdefault.jpg" .Params.youtube_id }}
		<picture data-lazy>
			<img data-srcset="{{ $thumbnail }}" alt="{{ .Params.youtube_id }} thumbnail"/>
		</picture>
	{{ else }}
		{{  partial "picture" .Params.featured_image }}
	{{ end }}
</a>