<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">
	
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/media/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>

	<ul class="flex b grey-3">
		{{- $currentPage := . -}}
		{{ range .Site.Menus.main -}}
		<li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
			<a href="{{ .URL | absLangURL }}" class="pa3 no-underline db">{{ .Name }}</a>
		</li>
		{{- end }}
	</ul>

	<ul class="flex b grey-3">
		{{ partial "all-languages" . }}
	</ul>

</nav>
