{{ $optim := default true .optim }}

<picture data-lazy>
  {{ if in .src ".jpg" }}
    {{ if $optim }}
      <source data-srcset="{{ replace .src ".jpg" ".avif" }}" type="image/avif">
      <source data-srcset="{{ replace .src ".jpg" ".webp" }}" type="image/webp">
    {{ end }}
    <source data-srcset="{{ .src }}" type="image/jpeg">
  {{ end }}
  {{ if in .src ".png" }}
    {{ if $optim }}
      <source data-srcset="{{ replace .src ".png" ".avif" }}" type="image/avif">
      <source data-srcset="{{ replace .src ".png" ".webp" }}" type="image/webp">
    {{ end }}
    <source data-srcset="{{ .src }}" type="image/png">
  {{ end }}
  <img data-srcset="{{ .src }}" alt="{{ .src }}"/>
</picture>