article {
	display: flex;
	flex-direction: column;
	margin: 20px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

article section, article header {
	align-self: center;
	width: calc(100% - 20px);
}

article section {
	padding: 0 10px;
}

article header {
	padding: 100px 10px;
	display: flex;
	flex-wrap: wrap;
}

article header div {
	width: 100%;
	display: flex;
}

article header .left {
	justify-content: flex-start;
}

article header .right {
	justify-content: flex-end;
}

article header h1 {
	font-size: 3rem;
	line-height: 2.5rem;
	background-color: var(--color-bg);
	padding: 5px;
}

article header h2 {
	font-size: 2rem;
	background-color: var(--color-text);
	color: var(--color-bg);
	padding: 5px;
}

article header h3 {
	background-color: var(--color-bg);
	padding: 5px;
}

article img {
	max-width: 100%;
}

article .metadata {
	display: flex;
	justify-content: space-between;
}

article .metadata .tags {
	text-transform: uppercase;
}

article .metadata .tags span:not(:last-of-type):after {
	content: ",";
}

@media (min-width: 800px) {
	article section, article header {
		width: 700px;
	}

	article section {
		padding: 0;
	}
}
