:root {
	--color-primary: #EA526F;
	--color-secondary: #0D324D;
	--color-tertiary: #77867F;
	--color-quarternary: #FFB400;
	--color-bg: #FEFFFE;
	--color-bg-dark: #EEEEEE;
	--color-text: #000;
	--color-text-light: #767676;
	}
	