.grid-list {
	width: 100%;
}

.grid-list-item {
	position: relative;
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	background-color: var(--color-);
	transition: 0.25s;
}

.grid-list-item::after {
	position: absolute;
	bottom: 0;
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background-color: var(--color-primary);
	transition: width .3s;
}

.grid-list-item:hover::after,
.link:hover::after {
	width: 100%;
}

.grid-list-item img {
	width: 120px;
	height: auto;
}

.item-description {
	display: block;
}

.grid-list-item h2, .grid-list-item p {
	margin: 5px;
}

.grid-list-item h3 {
	margin: 0;
}

@media (min-width: 600px) {
	.grid-list-item img {
		width: 300px;
		height: 100%;
	}
}