.hero {
	background-color: var(--color-text);
	width: 100%;
}

.hero-grid {
	width: calc(100% - 10px);
	align-self: center;
}

.hero-grid-item {
	justify-content: center;
	align-items: center;
	text-align: center;
	display: none;
}

.hero-grid .title,
.hero-grid .subtitle,
.hero-grid .intro,
.hero-grid .description {
	display: flex;
	padding: 5px;
	border-radius: 5px;
}

.hero-grid h1 {
	font-size: 1.9rem;
}

.hero-grid .title, .hero-grid .description {
	color: var(--color-bg);
}

.hero-grid .subtitle, .hero-grid .intro {
	background-color: var(--color-bg);
}

.hero-grid-item picture img {
	border-radius: 5px;
	transition: filter 0.25s;
}

.hero-grid-item picture img:hover {
	filter: brightness(1.2);
}

@media (min-width: 360px) {
	.hero-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
		grid-gap: 2px;
		grid-auto-rows: 120px;
		grid-auto-flow: dense;
	}

	.hero-grid-item {
		display: flex;
		width: unset;
		height: unset;
		margin: unset;
	}

	.hero-grid-item picture {
		height: 100%;
	}
	
	.hero-grid-item picture img {
		height: 100%;
	}

	.hero-grid .title {
		grid-column: 1 / span 2;
		grid-row: 2;
	}
	
	.hero-grid .subtitle {
		grid-column: 3;
		grid-row: 3;
	}
	
	.hero-grid .intro {
		grid-column: 1 / span 2;
		grid-row: 4 / span 2;
	}
	
	.hero-grid .description {
		grid-column: 2 / span 2;
		grid-row: 6 / span 2;
	}

	.hero-grid-item:nth-child(n+18) {
		display: none;
	}
}

@media (min-width: 486px) {
	.hero-grid .subtitle {
		grid-column: 3 / span 2;
	}

	.hero-grid .description {
		grid-column: 3 / span 2;
		grid-row: 6 / span 2;
	}

	.hero-grid-item:nth-child(n+18) {
		display: flex;
	}

	.hero-grid-item:nth-child(n+25) {
		display: none;
	}
}

@media (min-width: 600px) {
	.hero-grid {
		grid-gap: 5px;
	}
}

@media (min-width: 620px) {
	.hero-grid .title {
		grid-column: 2 / span 2;
	}

	.hero-grid .subtitle {
		grid-column: 3 / span 2;
	}

	.hero-grid .description {
		grid-column: 4 / span 2;
		grid-row: 5 / span 2;
	}

	.hero-grid-item:nth-child(n+25) {
		display: flex;
	}

	.hero-grid-item:nth-child(n+28) {
		display: none;
	}
}

@media (min-width: 745px) {
	.hero-grid .subtitle {
		grid-column: 4 / span 2;
		grid-row: 3;
	}

	.hero-grid .intro {
		grid-column: 2 / span 2;
		grid-row: 4 / span 2
	}

	.hero-grid .description {
		grid-column: 5 / span 2;
		grid-row: 5 / span 2;
	}

	.hero-grid-item:nth-child(n+28) {
		display: flex;
	}

	.hero-grid-item:nth-child(n+35) {
		display: none;
	}
}

@media (min-width: 880px) {
	.hero-grid-item:nth-child(n+35) {
		display: flex;
	}

	.hero-grid-item:nth-child(n+42) {
		display: none;
	}
}

@media (min-width: 1005px) {
	.hero-grid .description {
		grid-column: 6 / span 2;
		grid-row: 4 / span 2;
	}

	.hero-grid-item:nth-child(n+41) {
		display: none;
	}
}

@media (min-width: 1130px) {
	.hero-grid-item:nth-child(n+41) {
		display: flex;
	}

	.hero-grid-item:nth-child(n+47) {
		display: none;
	}
}

@media (min-width: 1255px) {
	.hero-grid .title {
		grid-column: 3 / span 2;
	}

	.hero-grid .subtitle {
		grid-column: 5 / span 2;
	}

	.hero-grid .intro {
		grid-column: 3 / span 2;
	}

	.hero-grid .description {
		grid-column: 7 / span 2;
	}

	.hero-grid-item:nth-child(n+47) {
		display: flex;
	}

	.hero-grid-item:nth-child(n+53) {
		display: none;
	}
}

@media (min-width: 1380px) {
	.hero-grid-item:nth-child(n+53) {
		display: flex;
	}

	.hero-grid-item:nth-child(n+59) {
		display: none;
	}
}

@media (min-width: 1505px) {
	.hero-grid-item:nth-child(n+59) {
		display: flex;
	}

	.hero-grid-item:nth-child(n+65) {
		display: none;
	}
}

@media (min-width: 1630px) {
	.hero-grid-item:nth-child(n+59) {
		display: flex;
	}

	.hero-grid-item:nth-child(n+71) {
		display: none;
	}
}

@media (min-width: 1755px) {
	.hero-grid .title {
		grid-column: 4 / span 3;
	}

	.hero-grid h1 {
		font-size: 2.5rem;
	}

	.hero-grid .subtitle {
		grid-column: 7 / span 2;
	}

	.hero-grid .intro {
		grid-column: 5 / span 2;
	}

	.hero-grid .description {
		grid-column: 9 / span 2;
	}

	.hero-grid-item:nth-child(n+79) {
		display: flex;
	}

	.hero-grid-item:nth-child(n+84) {
		display: none;
	}
}

@media (min-width: 1880px) {
	.hero-grid-item:nth-child(n+85) {
		display: flex;
	}

	.hero-grid-item:nth-child(n+91) {
		display: none;
	}
}

@media (min-width: 2005px) {
	.hero-grid-item:nth-child(n+91) {
		display: flex;
	}

	.hero-grid-item:nth-child(n+97) {
		display: none;
	}

	.hero-grid {
		padding: 10px 5px;
		max-width: 2005px;
	}
}