.image-grid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.image-grid .image {
	background-color: inherit;
	width: 50%;
	align-self: center;
}

.image-grid .image:nth-child(3n) {
	width: 100%;
}

.image img {
	width: 100%;
}