.logo-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	grid-gap: 5px;
	grid-auto-rows: minmax(120px, auto);
	grid-auto-flow: dense;
}

.logo-grid-item {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	filter: grayscale(100);
	transition: 0.25s;
}

.logo-grid-item:hover {
	filter: grayscale(0);
}
