.media-grid-item {
	display: block;
	position: relative;
	width: 100%;
	height: 66vw;
	margin: 5px 0;
}

.media-grid-item picture {
	height: 100%;
}

.media-grid-item picture img {
	height: 100%;
}

.media-grid-item.video-container iframe {
	border-radius: 5px;
}

.media-grid-item.hidden {
	display: none;
}

.media-grid-item h2 {
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 5px;
	padding: 2px;
	background-color: var(--color-bg);
	font-size: 0.8rem;
	border-radius: 2px;
}

.media-grid-item .icon {
	position: absolute;
	top: 0;
	margin: 5px;
	padding: 2px;
	background-color: var(--color-bg);
	border-radius: 2px;
	font-size: 1.2rem;	
}

.media-tags {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	text-transform: uppercase;
}

.media-tags li {
	padding: 5px;
	cursor: pointer;
	border-radius: 2px;
}

.media-tags li.active {
	background-color: var(--color-bg-dark);
}

.media-tags li:not(:first-of-type) {
	margin-left: 20px;
}

@media (hover: hover) {
	.media-grid-item h2 {
		opacity: 0;
		transition: 0.25s;
	}

	.media-grid-item:hover h2 {
		opacity: 1;
	}
}

@media (min-width: 300px) {
	.media-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		grid-auto-rows: 100px;
		grid-auto-flow: dense;
		grid-gap: 5px;
		width: calc(100vw - 10px);
	}

	.media-grid-item {
		width: unset;
		height: unset;
		margin: unset;
		overflow: hidden;
	}

	.media-grid-item:nth-child(2n):not(.span) {
		grid-column-end: span 2;
		grid-row-end: span 2;
	}

	.media-grid-item:nth-child(4n):not(.span) {
		grid-column-end: span 3;
		grid-row-end: span 2;
	}

	.span.span-3-2 {
		grid-column-end: span 3;
		grid-row-end: span 2;
	}
}

@media (min-width: 600px) {
	.media-grid {
		grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
		grid-auto-rows: 120px;
	}

	.media-grid-item h2 {
		font-size: 1rem;
	}
}

@media (min-width: 800px) and (min-height: 500px) {
	.media-grid {
		grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
		grid-auto-rows: 160px;
	}

	.media-grid-item h2 {
		font-size: 1.25rem;
	}

	.media-grid-item .icon {
		padding: 5px;
		font-size: 1.6rem;	
	}
}

@media (min-width: 2005px) {
	.media-grid {
		max-width: 2005px;
	}
}