section.packages ul {
	list-style-type: "📦";
	padding-left: 30px;
}

section.packages ul li::marker {
	content: "📦 ";
	font-size: 1.5rem;
}

section.packages ul ul {
	list-style-type: "✔️";
	padding-left: 25px;
}

section.packages ul ul li::marker {
	content: "✔️ ";
	font-size: 1.25rem;
}

section.packages header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

section.packages .price {
	display: inline-block;
	padding: 5px;
	background-color: var(--color-bg-dark);
}