<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body>
    {{ block "header" . }}
      {{ partial "nav" . }}
    {{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{end}}

    <script src="/index.js" async></script>

    {{ if eq .Page.Section "contact"}}
      <script src="https://www.google.com/recaptcha/api.js?render=6Lfv0bUUAAAAAMGdj5GMUSsPWIL8IK4pKE50epBF" async></script>
    {{ end }}
  </body>
</html>
