<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body>
    {{ block "header" . }}
      {{ partial "header" . }}
    {{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{end}}

    <script async src="/index.js"></script>

    {{ if .IsHome }}
      <script async src="/hero.js"></script>
    {{ end }}

    {{ if eq .Page.Section "contact"}}
      <script async src="/contact.js"></script>
    {{ end }}
  </body>
</html>
