{{ define "main" }}
	<article>
		<section class="limit-width">
			<h1>{{.Title}}</h1>
			<div class="metadata light">
				<p>{{ .Date.Format "2006-01-02" }}</p>
				<p>{{ i18n "readingTime" .ReadingTime }}</p>
			</div>
			<p>{{ .Description }}</p>
			{{ if .Params.thumbnail }}
				{{ partial "picture" .Params.thumbnail }}
			{{ end }}
			{{ .Content }}
			{{ if .Params.images }}
				<div class="media-grid">
					{{ range $i, $image := .Params.images}}
						<div class="media-grid-item" style="order: {{ $i }}">
							{{ partial "picture" $image }}
						</div>
					{{ end }}
				</div>
			{{ end }}
		</section>
	</article>
{{ end }}
