{{ define "main" }}
  <article>
    <section>
      <h1>{{.Title}}</h1>
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Params.body }}
    </section>
    <section class="packages">
      <h1>{{ i18n "packages"}}</h1>
      <ul>
        {{ range .Params.packages }}
        <li>
          <h2>{{ .name }}</h2>
          <p>{{ .description }}</p>
          <ul>
            {{ range .features }}
              <li>
                <h3>{{ .name }}</h3>
              <p>{{ .description }}</p>
              </li>
            {{ end }}
          </ul>
          <h2>{{ .price }}.- CHF</h2>
        </li>
        {{ end }}
      </ul>
    </section>
  </article>
{{ end }}
