{{ define "main" }}
  <article>
    <div class="media-grid album">
      <div class="media-grid-item span span-3-2">
        <h1>{{.Title}}</h1>
        <div class="metadata light">
          <p class="tags">
            {{ range .Params.tags }}
              <span>{{.}}</span>
            {{end}}
          </p>
          <p>{{ .Date.Format "2006-02-19" }}</p>
        </div>
        <p>{{ .Description }}</p>
      </div>
      {{ range $i, $image := .Params.images}}
        <div class="media-grid-item" data-lazy data-srcset="{{ $image }}" data-srcset-webp="{{ replace $image ".jpg" ".webp"}}" style="order:{{ $i }}"></div>
      {{ end }}
      {{ range $i, $video := .Params.videos}}
        <div class="media-grid-item span span-4-2 video-container" style="order:{{ add $i 4 }}">
            {{ partial "youtube-video" $video }}
        </div>
      {{ end }}
    </div>
  </article>
{{ end }}
