[hidden] {
  display: none !important;
}

.nsp-modal {
  z-index: 99999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
}

.nsp-modal .dropzone {
  width: 600px;
  max-width: 100vw;
  min-height: 400px;
  background-color: #FEFEFE;
  border: 4px dashed #555;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nsp-modal input[type="file"] {
  display: none;
}

.nsp-modal label.upload {
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  font-size: 1.25rem;
  color: #555;
  transition: color 0.25s;
}

.nsp-modal label.upload:hover {
  color: #000;
}

.nsp-widget {
  display: flex !important;
  flex-wrap: wrap;
}
