{{ define "main" }}
	<article>
		<section class="limit-width">
			<h1>{{.Title}}</h1>
			<p>{{ .Description }}</p>
			{{ if .Params.thumbnail }}
				{{ partial "picture" .Params.thumbnail }}
			{{ end }}
			{{ .Content }}
			{{ if .Params.images }}
				<div class="media-grid">
					{{ range $i, $image := .Params.images}}
						<div class="media-grid-item" style="order: {{ $i }}">
							{{ partial "picture" $image }}
						</div>
					{{ end }}
				</div>
			{{ end }}
			{{ if .Params.client_logos }}
				<h2>{{ i18n "selectClients" }} </h2>
				{{ partial "logo-grid" . }}
			{{ end }}
		</section>
	</article>
{{ end }}
