{{ define "main" }}

<article>
	<section class="limit-width">
		<h1>{{ .Title }}</h1>
		{{ .Content }}
		<form class="contact" method="POST">
			<fieldset>
				<label>{{ i18n "name" }}</label>
				<input type="text" name="name" placeholder="{{ i18n "name" }}" autocomplete="name" required/>
			</fieldset>
			<fieldset>
				<label>{{ i18n "email" }}</label>
				<input type="email" name="email" placeholder="{{ i18n "email" }}" autocomplete="email" required/>
			</fieldset>
			<fieldset>
				<label>{{ i18n "phone" }}</label>
				<input type="text" name="phone" placeholder="{{ i18n "phone" }}" autocomplete="tel" />
			</fieldset>
			<fieldset class="message">
				<label>{{ i18n "message" }}</label>
				<textarea name="message" placeholder="{{ i18n "message" }}" rows="6" autocomplete="off" required></textarea>
			</fieldset>
			<button type="submit" class="link">{{ i18n "submit" }}</button>
			<p class="response error" hidden></p>
			<p class="success-message" hidden>{{ .Params.success_message }}</p>
		</form>
		<p>
			{{ $privacyPolicy := .Site.GetPage "/privacy"}}
			<a href="{{ $privacyPolicy.Permalink }}">{{ $privacyPolicy.Title }}</a>
		</p>
	</section>
</article>

{{ end }}
