{{ define "main" }}

<article>
	<section class="limit-width">
		<h1>{{ .Title }}</h1>
		{{ .Content }}
		<form class="contact" method="POST">
			<input type="text" name="first-name" aria-label="{{ i18n "firstName" }}" placeholder="{{ i18n "firstName" }}" autocomplete="given-name" required/>
			<input type="text" name="last-name" aria-label="{{ i18n "lastName" }}" placeholder="{{ i18n "lastName" }}" autocomplete="family-name" required/>
			<input type="email" name="email" aria-label="{{ i18n "email" }}" placeholder="{{ i18n "email" }}" autocomplete="email" required/>
			<input type="tel" name="phone" aria-label="{{ i18n "phone" }}" placeholder="{{ i18n "phone" }}" autocomplete="tel" />
			<textarea name="message" aria-label="{{ i18n "message" }}" placeholder="{{ i18n "message" }}" rows="6" autocomplete="off" required></textarea>
			<button type="submit" class="link">{{ i18n "submit" }}</button>
			<h2 class="response error" hidden></h2>
			<h2 class="success-message" hidden>{{ .Params.success_message }}</h2>
		</form>
		<p>
			{{ $privacyPolicy := .Site.GetPage "/privacy"}}
			<a href="{{ $privacyPolicy.Permalink }}">{{ $privacyPolicy.Title }}</a>
		</p>
	</section>
</article>

{{ end }}
