{{ define "main" }}

<article>
	<section>
		<h1>{{ .Title }}</h1>
		{{ .Content }}
	</section>
	<section>
		<form class="contact">
			<fieldset>
				<input type="text" name="name" placeholder="{{ i18n "name" }}"/>
				<label>{{ i18n "name" }}</label>
			</fieldset>
			<fieldset>
				<input type="email" name="email" placeholder="{{ i18n "email" }}"/>
				<label>{{ i18n "email" }}</label>
			</fieldset>
			<fieldset>
				<input type="tel" name="phone" placeholder="{{ i18n "phone" }}"/>
				<label>{{ i18n "phone" }}</label>
			</fieldset>
			<fieldset>
				<textarea name="message" placeholder="{{ i18n "message" }}"></textarea>
				<label>{{ i18n "message" }}</label>
			</fieldset>
			<button type="submit">{{ i18n "submit" }}</button>	
		</form>
	</section>
</article>

{{ end }}
