.nsp-widget .image-list {
  display: flex;
  flex-wrap: wrap;
}

.nsp-widget .image-list .image-item {
  width: 150px;
  height: 100px;
  margin: 0 5px 5px 0;
}

.nsp-widget .image-list .image-item img {
  height: 100%;
  width: auto;
}