{{ define "main" }}
  <article>
    <section>
      <h1>{{.Title}}</h1>
      <div class="metadata light">
        <p class="tags">
          {{ range .Params.tags }}
            <span>{{.}}</span>
          {{end}}
        </p>
        <p>{{ .Date.Format "2006-02-19" }}</p>
      </div>
      <p>{{ .Description }}</p>
      <video controls poster="{{ .Params.featured_image }}">
        <source src="{{ .Params.video_file }}"
            type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
      </video>
    </section>
  </article>
{{ end }}
